---
import CloudinaryImage from './CloudinaryImage.astro';

interface Props {
    imageIds: [];
}

const {imageIds} = Astro.props
---

<div class="mx-auto grid grid-cols-2 gap-3.5">
    { imageIds.map(id => {
        return (
            <CloudinaryImage
                    publicId={id}
                    width="640"
                    height="480"
                    crop="fill"
            />
        )
    })}
</div>